<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Login</title>

	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
      <link rel="stylehseet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<div class='ui container centered grid'>
			<div class="row">
				<div class="ui text menu">
		      <a class="item" href="http://localhost:5000/">
		        <h2 class='ui header'>
		          News Spectrum
		        </h2>
		      </a>
		    </div>
	    </div>

	    <div class="row">
				<form action="http://localhost:5000/login" method="post" class='ui form'>
					<div class="field">
						<label>Username</label>
						<input type="text" placeholder="Username" name="username" required>
					</div>
					<div class="field">
						<label>Password</label>
						<input type="password" placeholder="Password" name="password" required><br>
					</div>
			    <button type="submit" class="ui button">Login</button>
				</form>
			</div>

			<div class="row">
				<span>Don't have an account? <a href="http://localhost:5000//signup"> Sign up here!</a></span>
			</div>
		</div>
	</body>

	<script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
</html>