<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>News Spectrum</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <link rel="stylehseet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <div class="ui container">
        <div class="ui text menu">
          <a class="item" href="/">
            <h2 class='ui header'>
              News Spectrum
            </h2>
          </a>
          <div class='ui right dropdown item'>
            {{ user }}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/logout">Log Out</a>
            </div>
          </div>
        </div>
        <h2 class="ui header">{{ article["article_name"] }}</h2>
        <div class="ui segment">
            <p>{{ article["text"] }}</p>
        </div>
        <form action="/article_review" method="post">
          <input type="radio" name="review" value="liked"> Liked Article <br>
          <input type="radio" name="review" value="disliked"> Disliked Article
          <input type="hidden" name="score" value="{{ article["political_leaning"] }}">
          <button>Submit</button>
        </form>
      </div>
    </body>
</html>