<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>News Spectrum</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
      <div class="ui container">
        <div class="ui text menu">
          <a class="item" href="/">
            <h2 class='ui header'>
              News Spectrum
            </h2>
          </a>
          <div class='ui right dropdown item'>
            {{ user }}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/logout">Log Out</a>
            </div>
          </div>
        </div>
        <h2 class="ui header">{{ article.article_name }}</h2>
        <div class="ui segment">
            <p>{{ article.text }}</p>
        </div>
        <form action="/article_review" method="post">
          <button class='ui basic green button' name='review' value='liked' type='submit'>
            <i class="thumbs up icon"></i>
            Liked Article
          </button>
          <button class='ui basic red button' name='review' value='disliked' type='submit'>
            <i class="thumbs down icon"></i>
            Disliked Article
          </button>
          <input type="hidden" name="score" value="{{ article.political_leaning }}">
        </form>
      </div>
    </body>

    <script>
      $(document).ready(function() {
        $('.ui.dropdown').dropdown();
      });
    </script>
</html>