<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

    <body>
      <div class="ui container">
        <div class="ui text menu">
          <a class="item" href="http://localhost:5000/">
            <h2 class='ui header'>
              News Spectrum
            </h2>
          </a>

          <div class='ui right dropdown item'>
            {{ user }}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="http://localhost:5000/">Home</a>
              <a class="item" href="http://localhost:5000/user">Profile</a>
              <a class="item" href="http://localhost:5000/logout">Log Out</a>
            </div>
          </div>

        </div>

        <div>
          <p>Here are your suggested articles to read.</p>
          <div class="ui four stackable cards">
            {% for article in articles %}
              <div class="card">
                <div class="content">
                  <div class="header">
                    {{ article.article_name }}
                  </div>
                  <div class="meta">
                    {{ article.creation_date.strftime('%m/%d/%Y') }}
                  </div>
                  <div class="description">
                    {{ article.description }}
                  </div>
                  <br>
                  <!-- <div class="political">
                    Political Leaning Score: {{ article.political_leaning }}
                  </div> -->
                </div>
                <div class="extra content">
                  <div class="ui two column grid">
                    <div class="centered column">
                      <form action="http://localhost:5000/load_news_page/{{ article.id }}" method="post" class="left floated">
                        <button id="read_button_{{article.id}}" class="ui basic green button">Read</button>
                      </form>
                    </div>
                    <div class="right floated right aligned column">
                      <i class="thumbs up icon" id="like_icon_{{article.id}}"></i>
                      <i class="thumbs down icon" id="dislike_icon_{{article.id}}"></i>
                    </div>
                  </div>
                </div>
                <div class="ui modal" id="read_modal_{{article.id}}">
                  <div class="header">{{ article.article_name }}</div>
                  <div class="content" id="read_modal_{{article.id}}_content">
                    <p>{{ article.text }}</p>
                  </div>
                  <div class="extra content">
                    <form action="/article_review" method="post" id="article_review_{{article.id}}">
                      <button class='ui basic green button' name='review' value='liked' type='submit' id="like_{{article.id}}">
                        <i class="thumbs up icon"></i>
                        Liked Article
                      </button>
                      <button class='ui basic red button' name='review' value='disliked' type='submit' id="dislike_{{article.id}}">
                        <i class="thumbs down icon"></i>
                        Disliked Article
                      </button>
                      <input type="hidden" name="score" value="{{ article.political_leaning }}" id="article_score_{{article.id}}">
                    </form>
                    <br>
                    <a class="ui basic button" href="{{ article.url }}">View Source</a>
                  </div>
                </div>
                <script>
                  $('#read_button_{{article.id}}').click(function(event) {
                    event.preventDefault();

                    console.log("#read_button_{{article.id}} was clicked!");
                    console.log("Showing modal #read_modal_{{article.id}}");
                    $('#read_modal_{{article.id}}').modal('show');
                    $('#read_modal_{{article.id}}').animate({ scrollTop: 0 }, "slow");

                  });

                  $('#like_{{article.id}}').click(function(event) {
                    event.preventDefault();

                    var url = "http://localhost:5000/article_review";
                    var data = {
                      score: $('#article_score_{{article.id}}').val(),
                      review: 'liked'
                    };
                    $.post(url, data, function() {
                      $('#like_icon_{{article.id}}').addClass('green');
                      $('#read_modal_{{article.id}}').modal('hide');
                    });
                  });

                  $('#dislike_{{article.id}}').click(function(event) {
                    event.preventDefault();

                    var url = "http://localhost:5000/article_review";
                    var data = {
                      score: $('#article_score_{{article.id}}').val(),
                      review: 'disliked'
                    };
                    $.post(url, data, function() {
                      $('#dislike_icon_{{article.id}}').addClass('red');
                      $('#read_modal_{{article.id}}').modal('hide');
                    });
                  });


                </script>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </body>


    <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
    <script>
      $(document).ready(function() {
        $('.ui.dropdown').dropdown();
      });
    </script>
</html>