<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <link rel="stylehseet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      <div class="ui container">
        <div class="ui text menu">
          <a class="item" href="/">
            <h2 class='ui header'>
              News Spectrum
            </h2>
          </a>
          <div class='ui right dropdown item'>
            {{ user }}
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/logout">Log Out</a>
            </div>
          </div>
        </div>
        <div>
          <p>Here are your suggested articles to read. Liberal-Conservative = 1-9</p>
          <div class="ui cards">
            {% for article in articles %}
              <div class="card">
                <div class="content">
                  <div class="header">
                    {{ articles[article]["article_name"] }}
                  </div>
                  <div class="meta">
                    {{ articles[article]["source"] }}
                  </div>
                  <div class="description">
                    {{ articles[article]["description"] }}
                  </div>
                  <br>
                  <div class="political">
                    {{ articles[article]["political_leaning"] }}
                  </div>
                </div>
                <div class="extra content">
                    <form action="/load_news_page" method="post">
                      <input type="hidden" name="article_name" value="{{ articles[article]["article_name"] }}"><br />
                      <button class="ui basic green button">Read Article</button>
                    </form>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </body>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>

    <script>
      $(document).ready(function() {
        $('.ui.dropdown').dropdown();
      });
    </script>
</html>