<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Signup</title>

	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
	</head>

	<body>
		<div class='ui container centered grid'>
			<div class="row">
				<div class="ui text menu">
		      <a class="item" href="/">
		        <h2 class='ui header'>
		          News Spectrum
		        </h2>
		      </a>
		    </div>
	    </div>

	    <div class="row">
				<form action="/signup" method="post" class='ui form'>
					<div class="field">
						<label>Name</label>
						<input type="text" placeholder="Name" name="name" required>
					</div>
					<div class="field">
						<label>Email</label>
						<input type="text" placeholder="Email" name="email" required>
					</div>
					<div class="field">
						<label>Username</label>
						<input type="text" placeholder="Username" name="username" required>
					</div>
					<div class="field">
						<label>Password</label>
						<input type="password" placeholder="Password" name="password" required><br>
					</div>
			    <button type="submit" class="ui button">Sign Up</button>
				</form>
			</div>

			<div class="row">
				<span>Already have an account? <a href="/login"> Login here!</a></span>
			</div>
		</div>

	</body>
</html>